# =============================================================================
# .gitignore file
# =============================================================================
__pycache__/
ultralytics/__pycache__/


